.marker-icon {

    /* position: 'absolute'; */
    width: 5vh;
    height: 5vh;
    /* left: -20;
    top: -20; */
  
    border: 5px solid #f44336;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    color: #3f51b5;
    font-size: 16;
    font-weight: bold;
    padding: 4;
    cursor: pointer;

}
.marker-icon:hover {
    border-color:gray;

}